extend layout

block navigation_links
    li
      a(href="/catalog/categories") Categories

block content
  header
    h1= title

  if errors
    ul(class="error-list")
      each error in errors
        li= error.message
  
  form(class="form" action="", method="post" enctype="multipart/form-data")
    div(class="input-group")
      label(for="name") Name
      input(id="name" name="name" type="text" required placeholder="Ex: Phones..." value=category ? category.name : '')
    div(class="input-group")
      label(for="description") Description
      textarea(id="description" name="description" required placeholder="Add description here") #{category ? category.description : ''}
    div(class="input-group")
      label(for="img") Imagine (300x300 recommended)
      input(id="img" type="file", name="img")
    if isPasswordRequired
      div(class="input-group")
        label(for="password") Password
        input(id="password" name="password" type="password" required)
    button(class="submit-btn" type="submit") Submit
