extend layout

block navigation_links
  li
    a(href="/catalog/categories") Show all categories


block content
  
  ul(class="inventory-details")
    h2 Inventory details:
    li Total Categories:  #{categoryCount}
    li Total Items: #{itemCount}
