/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #fff;
}

/* Remove list styles on ul and ol elements */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* own style here */
a {
  text-decoration: none;
  color: #fff;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/* nav */
nav {
  background: #172a3a;
}

nav ul {
  display: flex;
  font-size: 24px;
}

nav li {
  padding: 10px;
  background: #74b3ce1c;
  cursor: pointer;
}

nav li:hover {
  background: #74b3ce44;
}

nav li:nth-child(2n) {
  margin-left: 10px;
}

/* main */
main {
  flex: 1;
  background: #004346;
}

main,
.inventory-details {
  padding: 10px;
  border-top: 1px solid #508991;
  border-bottom: 1px solid #508991;
}

.list {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, auto);
}

.list li {
  background: #74b3ce1c;
  cursor: pointer;
}

.list li:hover {
  background: #74b3ce44;
}

.list li a {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 28px;
  text-shadow: 1px 1px 2px #000000;
}

.list .title {
  flex: 1;
  text-align: center;
  padding: 0 16px;
}

.list .img {
  min-width: 80px;
  max-width: 256px;
  width: 256px;
}

/* footer */

footer {
  background: #172a3a;
  text-align: center;
}
