/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #fff;
}

/* Remove list styles on ul and ol elements */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* own style here */
a {
  text-decoration: none;
  color: #fff;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.btn {
  background: #172a3a;
  padding: 10px;
  font-size: 16px;
}

.btn:hover {
  background: #172a3aa8;
}

.btn-update {
  color: #9eff8d;
}

.btn-delete {
  color: #fa7f7f;
}

input,
textarea,
button,
input[type='file']::-webkit-file-upload-button {
  background: #acacac66;
  border-radius: 4px;
  border: 1px solid #ffdead;
  padding: 8px;
  box-shadow: 0 0 2px 1px #ccfffc;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.657);
}

textarea {
  height: 300px;
  resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  font-size: 20px;
  transition: background-color 5000s ease-in-out 0s;
}

/* nav */
nav {
  background: #172a3a;
}

nav ul {
  display: flex;
  font-size: 24px;
}

nav li {
  padding: 10px;
  background: #74b3ce1c;
  cursor: pointer;
}

nav li:hover {
  background: #74b3ce44;
}

nav li:nth-child(n + 2) {
  margin-left: 10px;
}

/* header */

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 16px;
}

header .options {
  justify-self: end;
}

header .options .btn:nth-child(n + 2) {
  margin-left: 10px;
}

/* main */
main {
  flex: 1;
  background: #004346;
}

main,
.inventory-details {
  padding: 10px;
  border-top: 1px solid #508991;
  border-bottom: 1px solid #508991;
}

.list {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, auto);
}

.list li {
  background: #74b3ce1c;
  cursor: pointer;
}

.list li:hover {
  background: #74b3ce44;
}

.list li a {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 28px;
  text-shadow: 1px 1px 2px #000000;
}

.list .title {
  flex: 1;
  text-align: center;
  padding: 0 16px;
  z-index: 22;
}

.list .img {
  position: absolute;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  /* min-width: 80px;
  max-width: 256px;
  width: 256px; */
  opacity: 0.4;
}

.list-items .title {
  font-size: 20px;
}

.item-details {
  padding-top: 16px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid white;
}

.item-img {
  justify-self: center;
  align-self: center;
  max-width: 100%;
  min-width: 300px;
  /* min-height: 300px; */
  object-fit: contain;
}

.item-description {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 30%;
}

.item-information {
  margin-top: 16px;
  margin-left: 20px;
  font-size: 20px;
  border-bottom: 1px solid white;
}

.item-information *:first-child {
  padding-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.input-group label {
  padding: 10px 0;
  font-size: 20px;
}

.input-group > * {
  font-weight: 700;
  color: white;
}

.submit-btn,
input[type='file']::-webkit-file-upload-button {
  max-width: 300px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.submit-btn {
  margin-top: 16px;
}

.error-list {
  color: #fa7f7f;
  font-weight: 700;
}

/* footer */

footer {
  background: #172a3a;
  text-align: center;
}
